name: Publish

on:
  push:
    tags: [ 'v*' ]
    branches: [ main ]

jobs:
  publish:
    runs-on: macos-latest
    env:
      ORG_GRADLE_PROJECT_signingInMemoryKey: ${{ secrets.ORG_GRADLE_PROJECT_signingInMemoryKey }}
      ORG_GRADLE_PROJECT_signingInMemoryKeyPassword: ${{ secrets.ORG_GRADLE_PROJECT_signingInMemoryKeyPassword }}
      ORG_GRADLE_PROJECT_mavenCentralPassword: ${{ secrets.ORG_GRADLE_PROJECT_mavenCentralPassword }}
      ORG_GRADLE_PROJECT_mavenCentralUsername: ${{ secrets.ORG_GRADLE_PROJECT_mavenCentralUsername }}
      ORG_GRADLE_PROJECT_GRADLE_PUBLISH_SECRET: ${{ secrets.ORG_GRADLE_PROJECT_GRADLE_PUBLISH_SECRET }}
      ORG_GRADLE_PROJECT_GRADLE_PUBLISH_KEY: ${{ secrets.ORG_GRADLE_PROJECT_GRADLE_PUBLISH_KEY }}
    steps:
      - uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98
      - uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654
        with:
          distribution: 'zulu'
          java-version: 21
      - uses: gradle/actions/setup-gradle@2b9247147a6efbddfece21c734c99ddc4c696eee
      - name: Cache Build files
        uses: actions/cache@b7e8d49f17405cc70c1c120101943203c98d3a4b
        with:
          path: |
            ~/.konan
            ~/.gradle
          key: ${{ runner.os }}-${{ hashFiles('gradle.properties') }}-v1
      - name: Publish
        run: ./gradlew clean publish publishPlugins