name: Publish

on:
  push:
    tags: [ 'v*' ]
    branches: [ main ]

jobs:
  publish:
    runs-on: macos-latest
    env:
      ORG_GRADLE_PROJECT_signingInMemoryKey: ${{ secrets.ORG_GRADLE_PROJECT_signingInMemoryKey }}
      ORG_GRADLE_PROJECT_signingInMemoryKeyPassword: ${{ secrets.ORG_GRADLE_PROJECT_signingInMemoryKeyPassword }}
      ORG_GRADLE_PROJECT_mavenCentralPassword: ${{ secrets.ORG_GRADLE_PROJECT_mavenCentralPassword }}
      ORG_GRADLE_PROJECT_mavenCentralUsername: ${{ secrets.ORG_GRADLE_PROJECT_mavenCentralUsername }}
      GRADLE_PUBLISH_SECRET: ${{ secrets.GRADLE_PUBLISH_SECRET }}
      GRADLE_PUBLISH_KEY: ${{ secrets.GRADLE_PUBLISH_KEY }}
    steps:
      - uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98
      - uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654
        with:
          distribution: 'zulu'
          java-version: 21
      - uses: gradle/actions/setup-gradle@78f7dee6337f393c0a872d0afbda4c51a20e543d
      - name: Cache Build files
        uses: actions/cache@565629816435f6c0b50676926c9b05c254113c0c
        with:
          path: |
            ~/.konan
            ~/.gradle
          key: ${{ runner.os }}-${{ hashFiles('gradle.properties') }}-v1
      - name: Publish to Maven Central
        run: ./gradlew clean publish
      - name: Publish to Plugin Portal
        if: startsWith(github.ref, 'refs/tags/v')
        run: ./gradlew clean publishPlugins
