name: Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

concurrency:
  group: tests-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98
        with:
          fetch-depth: 0

      - uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654
        with:
          distribution: 'zulu'
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@78f7dee6337f393c0a872d0afbda4c51a20e543d

      - name: Cache Build files
        uses: actions/cache@b7e8d49f17405cc70c1c120101943203c98d3a4b
        with:
          path: |
            ~/.gradle
          key: ${{ runner.os }}-${{ hashFiles('gradle.properties') }}-v1

      - name: Run Tests
        run: ./gradlew test

      - name: Archive Reports
        uses: actions/upload-artifact@47309c993abb98030a35d55ef7ff34b7fa1074b5
        if: ${{ always() }}
        with:
          name: reports
          path: '**/build/reports/*'

      - name: Publish Unit Test Results
        uses: mikepenz/action-junit-report@49b2ca06f62aa7ef83ae6769a2179271e160d8e4
        if: ${{ always() }}
        with:
          report_paths: '**/TEST-*.xml'
